body {
  background-color: #747474;
}

#read-more {
  @media (max-width: 600px) and (min-width: 500px) {
    width: 5vw;
    margin-left: -3px;
  }
  @media (max-width: 480px) and (min-width: 400px) {
    width: 5vw;
    margin-left: -3px;
  }
}

#delete {
  display: inline-block;
  width: 50px;
  height: 225px;
  margin-left: 650px;

  #deletelink {
    display: flex;
    justify-content: right;
    margin-right: 35px;
    margin-top: -35px;
    margin-left: 20px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    color: #ff652f;
    transition: 0.6s ease-in-out;
    font-size: 14px;

    @media (max-width: 320px) and (min-width: 300px) {
      width: 5vw;
      margin-left: -370px;
      font-weight: 300;
      font-size: 14px;
    }

    @media (max-width: 330px) and (min-width: 321px) {
      width: 5vw;
      margin-left: -360px;
      font-weight: 500;
    }

    @media (max-width: 340px) and (min-width: 331px) {
      width: 5vw;
      margin-left: -360px;
      font-weight: 500;
    }

    @media (max-width: 350px) and (min-width: 341px) {
      width: 5vw;
      margin-left: -360px;
      font-weight: 500;
    }

    @media (max-width: 360px) and (min-width: 351px) {
      width: 5vw;
      margin-left: -360px;
      font-weight: 800;
    }

    @media (max-width: 369px) and (min-width: 361px) {
      width: 5vw;
      margin-left: -335px;
      font-weight: 500;
    }

    @media (max-width: 379px) and (min-width: 370px) {
      width: 5vw;
      margin-left: -325px;
      font-weight: 500;
    }

    @media (max-width: 389px) and (min-width: 380px) {
      width: 5vw;
      margin-left: -325px;
      font-weight: 500;
    }

    @media (max-width: 399px) and (min-width: 390px) {
      width: 5vw;
      margin-left: -325px;
      font-weight: 500;
    }

    @media (max-width: 409px) and (min-width: 400px) {
      width: 5vw;
      margin-left: -310px;
      font-weight: 500;
    }

    @media (max-width: 419px) and (min-width: 410px) {
      width: 5vw;
      margin-left: -310px;
      font-weight: 500;
    }

    @media (max-width: 447px) and (min-width: 440px) {
      width: 5vw;
      margin-left: -275px;
      font-weight: 500;
    }

    @media (max-width: 439px) and (min-width: 425px) {
      width: 5vw;
      margin-left: -300px;
      font-weight: 500;
    }

    @media (max-width: 424px) and (min-width: 420px) {
      width: 5vw;
      margin-left: -300px;
      font-weight: 500;
    }

    @media (max-width: 480px) and (min-width: 448px) {
      width: 5vw;
      margin-left: -258px;
      font-weight: 500;
      font-size: 10px;
    }

    @media (max-width: 494px) and (min-width: 454px) {
      width: 5vw;
      margin-left: -255px;
      font-weight: 800;
    }

    @media (max-width: 600px) and (min-width: 500px) {
      width: 5vw;
      margin-left: -250px;
    }

    @media (max-width: 800px) and (min-width: 601px) {
      width: 5vw;
      margin-left: -75px;
    }

    @media (max-width: 900px) and (min-width: 801px) {
      width: 5vw;
      margin-left: 20px;
    }

    @media (max-width: 1000px) and (min-width: 901px) {
      // width: 5vw;
      margin-left: 17vw;
    }

    @media (max-width: 1200px) and (min-width: 1001px) {
      width: 5vw;
      margin-left: 20vw;
    }

    @media (max-width: 1300px) and (min-width: 1201px) {
      width: 5vw;
      margin-left: 30vw;
    }

    @media (max-width: 1400px) and (min-width: 1301px) {
      width: 5vw;
      margin-left: 40vw;
    }

    @media (max-width: 1500px) and (min-width: 1401px) {
      width: 5vw;
      margin-left: 40vw;
    }

    @media (max-width: 1600px) and (min-width: 1501px) {
      width: 5vw;
      margin-left: 45vw;
    }
  }
}
.header {
  position: relative;
  height: 230px;
  width: 100vw;
  background-image: linear-gradient(#ff9d2f, #ff6126);

  @media (max-width: 558px) and (min-width: 550px) {
    position: relative;
    height: 230px;
    width: 105vw;
    background-image: linear-gradient(#ff9d2f, #ff6126);
  }
}

.header-title {
  padding: 100px 0;
  font: 40px 'Anton';
  text-align: center;
  margin-left: 30px;

  @media (max-width: 600px) and (min-width: 550px) {
    margin-left: -10px;
    font-size: 32px;
  }

  @media (max-width: 541px) and (min-width: 539) {
    margin-left: -15px;
    font-size: 28px;
  }

  @media (max-width: 549px) and (min-width: 542px) {
    margin-left: -15px;
    font-size: 28px;
  }

  @media (max-width: 480px) and (min-width: 400px) {
    margin-left: 0px;
    font-size: 28px;
  }

  @media (max-width: 360px) and (min-width: 300px) {
    margin-left: 0px;
    font-size: 28px;
  }
}

.blogsecondarytitles {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: 'Anton', sans-serif;
  //   margin-left: -45px;
  -webkit-text-fill-color: #ff652f;
  -webkit-text-stroke-width: 0.001px;
  -webkit-text-stroke-color: #ffe400;
  text-transform: capitalize;
  text-decoration: underline #272727;
  margin-top: 150px;

  @media (max-width: 600px) and (min-width: 590px) {
    display: flex;
    justify-content: center;
    width: 5vw;
    margin-left: -10px;
  }

  @media (max-width: 580px) and (min-width: 560px) {
    display: flex;
    justify-content: center;
    width: 5vw;
    margin-left: -10px;
  }

  @media (max-width: 480px) and (min-width: 400px) {
    margin-left: -10px;
    font-size: 28px;
  }
}

.blogtitles {
  display: flex;
  justify-content: left;
  font-size: 32px;
  font-family: 'Anton', sans-serif;
  //   margin-left: -45px;
  -webkit-text-fill-color: #ff652f;
  -webkit-text-stroke-width: 0.001px;
  -webkit-text-stroke-color: #ffe400;
  text-transform: capitalize;
  text-decoration: underline #272727;
  margin-top: 150px;

  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
    width: 5vw;
    margin-left: -375px;
  }
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;

  .new-blog-link {
    position: fixed;
    right: 35px;
    bottom: 15px;

    @media (max-width: 320px) and (min-width: 300px) {
      right: 35px;
      bottom: 15px;
      margin-left: -370px;
    }

    @media (max-width: 360px) and (min-width: 321px) {
      margin-left: -345px;
    }

    @media (max-width: 369px) and (min-width: 361px) {
      margin-left: -335px;
    }

    @media (max-width: 379px) and (min-width: 370px) {
      margin-left: -330px;
    }

    @media (max-width: 399px) and (min-width: 390px) {
      margin-left: -345px;
    }

    @media (max-width: 409px) and (min-width: 400px) {
      margin-left: -300px;
    }

    @media (max-width: 419px) and (min-width: 410px) {
      margin-left: -305px;
    }

    @media (max-width: 424px) and (min-width: 420px) {
      margin-left: -295px;
    }

    @media (max-width: 439px) and (min-width: 425px) {
      margin-left: -300px;
    }

    @media (max-width: 480px) and (min-width: 440px) {
      margin-left: -275px;
    }

    @media (max-width: 600px) and (min-width: 550px) {
      right: 35px;
      bottom: 15px;
      margin-left: -370px;
    }

    @media (max-width: 800px) and (min-width: 790px) {
      right: 35px;
      bottom: 15px;
      font-size: 16px;
    }
  }

  .blog-link {
    font-size: 3em;
    cursor: pointer;
    color: #ffe400;
    transition: 0.5s ease-in-out;
    margin-left: 45px;

    @media (max-width: 320px) and (min-width: 300px) {
      margin-left: -375px;
    }

    @media (max-width: 330px) and (min-width: 321px) {
      margin-left: -370px;
    }

    @media (max-width: 340px) and (min-width: 331px) {
      margin-left: -360px;
    }

    @media (max-width: 350px) and (min-width: 341px) {
      margin-left: -365px;
    }

    @media (max-width: 360px) and (min-width: 351px) {
      margin-left: -345px;
    }

    @media (max-width: 369px) and (min-width: 361px) {
      margin-left: -335px;
    }

    @media (max-width: 379px) and (min-width: 370px) {
      margin-left: -330px;
    }

    @media (max-width: 389px) and (min-width: 380px) {
      margin-left: -330px;
    }

    @media (max-width: 399px) and (min-width: 390px) {
      margin-left: -335px;
    }

    @media (max-width: 409px) and (min-width: 400px) {
      margin-left: -315px;
    }

    @media (max-width: 419px) and (min-width: 410px) {
      margin-left: -305px;
    }

    @media (max-width: 424px) and (min-width: 420px) {
      margin-left: -305px;
    }

    @media (max-width: 439px) and (min-width: 425px) {
      margin-left: -340px;
    }

    @media (max-width: 447px) and (min-width: 440px) {
      margin-left: -275px;
    }

    @media (max-width: 480px) and (min-width: 448px) {
      margin-left: -270px;
    }

    @media (max-width: 494px) and (min-width: 479px) {
      margin-left: -255px;
    }

    @media (max-width: 506px) and (min-width: 495px) {
      margin-left: -255px;
    }

    @media (max-width: 514px) and (min-width: 507px) {
      margin-left: -255px;
    }

    @media (max-width: 519px) and (min-width: 515px) {
      margin-left: -255px;
    }

    @media (max-width: 538px) and (min-width: 520px) {
      margin-left: -255px;
    }

    @media (max-width: 541px) and (min-width: 539px) {
      margin-left: -255px;
    }

    @media (max-width: 549px) and (min-width: 542px) {
      margin-left: -255px;
    }

    @media (max-width: 600px) and (min-width: 550px) {
      margin-left: -255px;
    }

    &:hover {
      color: #ff652f;
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-top: 75px;
    margin-left: 15px;

    @media (max-width: 600px) {
      width: 6vw;
      margin-left: -375px;
    }

    a {
      text-decoration: none;
      color: #ffe400;
      transition: 0.5s ease-in-out;

      @media (max-width: 600px) {
        width: 5vw;
        margin-left: -375px;
        height: 20px;
      }

      &:hover {
        color: #ff652f;
      }
    }

    h1 {
      font-size: 1.5em;
    }
  }
}
