.blog-detail-content-container {
  width: 100vh;
  height: 100%;
  margin-top: 50px;
  position: relative;

  @media (max-width: 480px) and (min-width: 400px) {
    width: 80vw;
    margin-left: 40px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .blog-title-secondary {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 38px;
    font-family: 'Anton', sans-serif;
    // margin-left: -45px;
    -webkit-text-fill-color: #ff652f;
    -webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: #ffe400;
    text-transform: capitalize;
    text-decoration: underline #272727;
    margin-top: 50px;
    z-index: 0;

    @media (max-width: 780px) and (min-width: 655px) {
      font-size: 31px;
    }

    @media (max-width: 654px) and (min-width: 500px) {
      font-size: 24px;
    }

    @media (max-width: 480px) and (min-width: 400px) {
      font-size: 26px;
      margin-left: -10px;
    }

    @media (max-width: 360px) and (min-width: 300px) {
      font-size: 26px;
      margin-left: -45px;
    }
  }

  @if blogImage == true {
    .blogcontent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      color: white;
      margin-left: 100px;

      @media (max-width: 360px) and (min-width: 300px) {
        font-size: 18px;
        margin-left: 50px;
        margin-bottom: 20px;
      }
    }
  } @else {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    margin-top: -50px;
    margin-left: 50px;

    @media (max-width: 360px) and (min-width: 300px) {
      width: 70vw;
      font-size: 18px;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  .blogImage {
    margin-top: 75px;
    margin-right: -100px;
    margin-left: 450px;
    width: 225px;
    height: 225px;
    border-radius: 5px;
    object-fit: cover;
  }

  .featured-image-wrapper {
    img {
      margin: 15px 0px;
      width: 100%;
      height: 200px;
      border-radius: 5px;
      object-fit: cover;

      @media (max-width: 480px) and (min-width: 400px) {
        width: 70vw;
        margin-left: -20px;
        // font-size: 28px;
      }

      @media (max-width: 360px) and (min-width: 300px) {
        width: 70vw;
        margin-left: -20px;
      }
    }
  }
}
