.blogtitles-item {
  display: flex;
  justify-content: flex-start;
  align-content: left;
  font-size: 32px;
  font-family: 'Anton', sans-serif;
  -webkit-text-fill-color: #ff652f;
  -webkit-text-stroke-width: 0.001px;
  -webkit-text-stroke-color: #ffe400;
  text-transform: capitalize;
  text-decoration: underline #272727;
  margin-top: -10px;
  margin-left: -625px;

  @media (max-width: 600px) and (min-width: 579px) {
    width: 90vw;
    margin-left: -735px;
    font-size: 28px;
  }

  @media (max-width: 580px) and (min-width: 571px) {
    width: 85vw;
    margin-left: -730px;
    font-size: 28px;
  }

  @media (max-width: 570px) and (min-width: 561px) {
    width: 85vw;
    margin-left: -725px;
    font-size: 28px;
  }

  @media (max-width: 566px) and (min-width: 559px) {
    width: 85vw;
    margin-left: -720px;
    font-size: 28px;
  }

  @media (max-width: 558px) and (min-width: 550px) {
    width: 85vw;
    margin-left: -715px;
    font-size: 28px;
  }

  @media (max-width: 549px) and (min-width: 542px) {
    width: 85vw;
    margin-left: -715px;
    font-size: 28px;
  }

  @media (max-width: 541px) and (min-width: 539px) {
    width: 80vw;
    margin-left: -710px;
    font-size: 26px;
  }

  @media (max-width: 538px) and (min-width: 526px) {
    width: 85vw;
    margin-left: -705px;
    font-size: 28px;
  }

  @media (max-width: 525px) and (min-width: 517px) {
    width: 85vw;
    margin-left: -705px;
    font-size: 28px;
  }

  @media (max-width: 519px) and (min-width: 515px) {
    width: 85vw;
    margin-left: -695px;
    font-size: 24px;
  }

  @media (max-width: 514px) and (min-width: 507px) {
    width: 85vw;
    margin-left: -695px;
    font-size: 24px;
  }

  @media (max-width: 506px) and (min-width: 495px) {
    width: 85vw;
    margin-left: -690px;
    font-size: 22px;
  }

  @media (max-width: 494px) and (min-width: 479px) {
    width: 85vw;
    margin-left: -685px;
    font-size: 22px;
  }

  @media (max-width: 480px) and (min-width: 449px) {
    width: 85vw;
    margin-left: -670px;
    font-size: 20px;
  }

  @media (max-width: 447px) and (min-width: 440px) {
    width: 85vw;
    margin-left: -660px;
    font-size: 20px;
  }

  @media (max-width: 439px) and (min-width: 425px) {
    width: 80vw;
    margin-left: -660px;
    font-size: 20px;
  }

  @media (max-width: 424px) and (min-width: 420px) {
    width: 80vw;
    margin-left: -655px;
    font-size: 20px;
  }

  @media (max-width: 419px) and (min-width: 410px) {
    width: 80vw;
    margin-left: -650px;
    font-size: 20px;
  }

  @media (max-width: 409px) and (min-width: 400px) {
    width: 80vw;
    margin-left: -645px;
    font-size: 20px;
  }

  @media (max-width: 399px) and (min-width: 390px) {
    width: 80vw;
    margin-left: -640px;
    font-size: 20px;
  }

  @media (max-width: 389px) and (min-width: 380px) {
    width: 80vw;
    margin-left: -635px;
    font-size: 20px;
  }

  @media (max-width: 379px) and (min-width: 370px) {
    width: 80vw;
    margin-left: -630px;
    font-size: 20px;
  }

  @media (max-width: 369px) and (min-width: 361px) {
    width: 80vw;
    margin-left: -625px;
    font-size: 20px;
  }

  @media (max-width: 360px) and (min-width: 351px) {
    width: 80vw;
    margin-left: -620px;
    font-size: 20px;
  }

  @media (max-width: 350px) and (min-width: 341px) {
    width: 80vw;
    margin-left: -620px;
    font-size: 20px;
  }

  @media (max-width: 340px) and (min-width: 331px) {
    width: 80vw;
    margin-left: -615px;
    font-size: 18px;
  }

  @media (max-width: 330px) and (min-width: 321px) {
    width: 80vw;
    margin-left: -610px;
    font-size: 18px;
  }

  @media (max-width: 320px) and (min-width: 311px) {
    width: 80vw;
    margin-left: -605px;
    font-size: 18px;
  }

  @media (max-width: 310px) and (min-width: 300px) {
    width: 80vw;
    margin-left: -600px;
    font-size: 18px;
  }
}

.blogDescription {
  display: flex;
  justify-content: flex-start;
  align-content: left;
  width: 100%;
  color: white;
  font-size: 16px;
  width: 650px;
  margin-left: -625px;
  margin-top: 10px;
  line-height: 20px;

  @media (max-width: 600px) and (min-width: 579px) {
    width: 70vw;
    margin-left: -735px;
    font-size: 16px;
  }

  @media (max-width: 541px) and (min-width: 539px) {
    width: 70vw;
    margin-left: -710px;
    font-size: 16px;
  }

  @media (max-width: 580px) and (min-width: 571px) {
    width: 70vw;
    margin-left: -730px;
    font-size: 16px;
  }

  @media (max-width: 570px) and (min-width: 565px) {
    width: 70vw;
    margin-left: -725px;
    font-size: 16px;
  }

  @media (max-width: 566px) and (min-width: 559px) {
    width: 70vw;
    margin-left: -720px;
    font-size: 16px;
  }

  @media (max-width: 558px) and (min-width: 550px) {
    width: 70vw;
    margin-left: -715px;
    font-size: 16px;
  }

  @media (max-width: 538px) and (min-width: 520px) {
    width: 70vw;
    margin-left: -705px;
    font-size: 16px;
  }

  @media (max-width: 549px) and (min-width: 542px) {
    width: 70vw;
    margin-left: -715px;
    font-size: 16px;
  }

  @media (max-width: 519px) and (min-width: 515px) {
    width: 70vw;
    margin-left: -695px;
    font-size: 16px;
  }

  @media (max-width: 514px) and (min-width: 507px) {
    width: 85vw;
    margin-left: -695px;
    font-size: 16px;
  }

  @media (max-width: 506px) and (min-width: 495px) {
    width: 85vw;
    margin-left: -690px;
    font-size: 16px;
  }

  @media (max-width: 494px) and (min-width: 479px) {
    width: 85vw;
    margin-left: -685px;
    font-size: 16px;
  }

  @media (max-width: 480px) and (min-width: 448px) {
    width: 87vw;
    margin-left: -670px;
    font-size: 12px;
  }

  @media (max-width: 447px) and (min-width: 437px) {
    width: 85vw;
    margin-left: -660px;
    font-size: 14px;
  }

  @media (max-width: 439px) and (min-width: 425px) {
    width: 80vw;
    margin-left: -660px;
    font-size: 14px;
  }

  @media (max-width: 424px) and (min-width: 420px) {
    width: 80vw;
    margin-left: -655px;
    font-size: 14px;
  }

  @media (max-width: 419px) and (min-width: 410px) {
    width: 80vw;
    margin-left: -650px;
    font-size: 14px;
  }

  @media (max-width: 409px) and (min-width: 400px) {
    width: 80vw;
    margin-left: -645px;
    font-size: 14px;
  }

  @media (max-width: 399px) and (min-width: 390px) {
    width: 80vw;
    margin-left: -640px;
    font-size: 14px;
  }

  @media (max-width: 389px) and (min-width: 380px) {
    width: 80vw;
    margin-left: -635px;
    font-size: 14px;
  }

  @media (max-width: 379px) and (min-width: 370px) {
    width: 80vw;
    margin-left: -630px;
    font-size: 14px;
  }

  @media (max-width: 369px) and (min-width: 361px) {
    width: 80vw;
    margin-left: -625px;
    font-size: 14px;
  }

  @media (max-width: 360px) and (min-width: 351px) {
    width: 70vw;
    margin-left: -620px;
    font-size: 14px;
  }

  @media (max-width: 350px) and (min-width: 341px) {
    width: 70vw;
    margin-left: -620px;
    font-size: 14px;
  }

  @media (max-width: 340px) and (min-width: 331px) {
    width: 70vw;
    margin-left: -615px;
    font-size: 14px;
  }

  @media (max-width: 330px) and (min-width: 321px) {
    width: 70vw;
    margin-left: -610px;
    font-size: 14px;
  }

  @media (max-width: 320px) and (min-width: 311px) {
    width: 70vw;
    margin-left: -605px;
    font-size: 14px;
  }

  @media (max-width: 310px) and (min-width: 300px) {
    width: 70vw;
    margin-left: -600px;
    font-size: 14px;
  }
}
