.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 7px; /* 5px rounded corners */
  width: 212px;
  height: 312px;
  background-color: #ffe400;

  @media screen and (max-width: 544px) and (min-width: 500px) {
    margin-left: 0.1vw;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containter {
  padding: 2px 14px;
}

.front-flip-button {
  width: 225px;
  height: 325px;
  margin-left: -390px;
  border-style: double;
  border-color: #14a76c;
  border-width: 7px;
  border-radius: 10px;

  @media screen and (max-width: 544px) and (min-width: 500px) {
    margin-left: -74vw;
  }

  @media (max-width: 480px) and (min-width: 400px) {
    margin-bottom: 450px;
    margin-left: -255px;
  }

  @media (max-width: 360px) and (min-width: 321px) {
    margin-bottom: 445px;
    margin-left: -255px;
  }

  @media (max-width: 320px) and (min-width: 300px) {
    margin-bottom: 650px;
    margin-left: -255px;
  }
}

.front-card-title {
  margin-top: -240px;
  margin-left: -45px;
  font-size: 25px;
  font-weight: bolder;
  color: #ff652f;
  transform: rotate(-25deg);
  text-decoration: underline solid #14a76c;
}

.front-card-description {
  width: 50%;
  margin-top: 70px;
  margin-left: -90px;
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
  letter-spacing: 2px;
  font-size: 15px;
  color: #747474;
}
