.second-front-flip-button {
  width: 225px;
  height: 325px;
  margin-left: 540px;
  margin-bottom: 0;
  border-style: double;
  border-color: #14a76c;
  border-width: 7px;
  border-radius: 10px;

  @media screen and (max-width: 544px) and (min-width: 500px) {
    margin-left: 102vw;
  }
}

.second-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 7px; /* 5px rounded corners */
  width: 212px;
  height: 312px;
  //   margin-top: px;
  background-color: #ffe400;
}

.second-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.second-containter {
  padding: 2px 14px;
}

.second-front-card-title {
  margin-top: -200px;
  margin-left: -30px;
  font-size: 24px;
  font-weight: bolder;
  color: #ff652f;
  transform: rotate(-25deg);
  text-decoration: underline solid #14a76c;
}

.second-front-card-description {
  width: 50%;
  margin-top: 70px;
  margin-left: -135px;
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
  letter-spacing: 2px;
  font-size: 15px;
  color: #747474;
}
