.container {
  width: 100%;
  height: 100%;
  background-color: #747474;

  .header {
    position: relative;
    height: 230px;
    width: 100vw;
    background-image: linear-gradient(#ff9d2f, #ff6126);

    @media (max-width: 499px) and (min-width: 490px) {
      width: 107vw;
    }

    @media (max-width: 489px) and (min-width: 480px) {
      width: 105vw;
    }

    @media (max-width: 479px) and (min-width: 470px) {
      width: 105vw;
    }

    @media (max-width: 469px) and (min-width: 460px) {
      width: 105vw;
    }

    @media (max-width: 459px) and (min-width: 450px) {
      width: 105vw;
    }

    @media (max-width: 449px) and (min-width: 440px) {
      width: 105vw;
    }

    @media (max-width: 439px) and (min-width: 430px) {
      width: 105vw;
    }

    @media (max-width: 429px) and (min-width: 420px) {
      width: 105vw;
    }

    @media (max-width: 419px) and (min-width: 410px) {
      width: 105vw;
    }

    @media (max-width: 409px) and (min-width: 400px) {
      width: 105vw;
    }

    @media (max-width: 399px) and (min-width: 390px) {
      width: 105vw;
    }

    @media (max-width: 389px) and (min-width: 380px) {
      width: 105vw;
    }

    @media (max-width: 379px) and (min-width: 370px) {
      width: 105vw;
    }

    @media (max-width: 369px) and (min-width: 360px) {
      width: 105vw;
    }

    @media (max-width: 359px) and (min-width: 350px) {
      width: 105vw;
    }

    @media (max-width: 349px) and (min-width: 340px) {
      width: 105vw;
    }

    @media (max-width: 339px) and (min-width: 330px) {
      width: 105vw;
    }

    @media (max-width: 329px) and (min-width: 320px) {
      width: 105vw;
    }

    @media (max-width: 319px) and (min-width: 310px) {
      width: 105vw;
    }

    @media (max-width: 309px) and (min-width: 300px) {
      width: 105vw;
    }
  }

  .header-title {
    padding: 100px 0;
    font: 40px 'Anton';
    text-align: center;
    margin-left: 30px;

    @media (max-width: 1289px) and (min-width: 1280px) {
      width: 100vw;
      font-size: 38px;
      margin-left: 10px;
    }

    @media (max-width: 509px) and (min-width: 500px) {
      width: 100vw;
      font-size: 36px;
      margin-left: 10px;
    }

    @media (max-width: 499px) and (min-width: 490px) {
      width: 100vw;
      font-size: 36px;
      margin-left: 10px;
    }

    @media (max-width: 489px) and (min-width: 480px) {
      width: 100vw;
      font-size: 36px;
      margin-left: 5px;
    }

    @media (max-width: 479px) and (min-width: 470px) {
      width: 100vw;
      font-size: 36px;
      margin-left: 5px;
    }

    @media (max-width: 469px) and (min-width: 460px) {
      width: 100vw;
      font-size: 36px;
      margin-left: 5px;
    }

    @media (max-width: 459px) and (min-width: 450px) {
      width: 100vw;
      font-size: 36px;
      margin-left: 5px;
    }

    @media (max-width: 449px) and (min-width: 440px) {
      width: 100vw;
      font-size: 36px;
      margin-left: 0px;
    }

    @media (max-width: 439px) and (min-width: 430px) {
      width: 100vw;
      font-size: 36px;
      margin-left: 5px;
    }

    @media (max-width: 429px) and (min-width: 420px) {
      width: 100vw;
      font-size: 36px;
      margin-left: 5px;
    }

    @media (max-width: 419px) and (min-width: 410px) {
      width: 100vw;
      font-size: 32px;
      margin-left: 0px;
    }

    @media (max-width: 409px) and (min-width: 400px) {
      width: 100vw;
      font-size: 34px;
      margin-left: 3px;
    }

    @media (max-width: 399px) and (min-width: 390px) {
      width: 100vw;
      font-size: 34px;
      margin-left: 2px;
    }

    @media (max-width: 389px) and (min-width: 380px) {
      width: 100vw;
      font-size: 32px;
      margin-left: 2px;
    }

    @media (max-width: 379px) and (min-width: 370px) {
      width: 100vw;
      font-size: 32px;
      margin-left: 2px;
    }

    @media (max-width: 369px) and (min-width: 360px) {
      width: 100vw;
      font-size: 32px;
      margin-left: 0px;
    }

    @media (max-width: 359px) and (min-width: 350px) {
      width: 100vw;
      font-size: 30px;
      margin-left: 0px;
    }

    @media (max-width: 349px) and (min-width: 340px) {
      width: 100vw;
      font-size: 30px;
      margin-left: 0px;
    }

    @media (max-width: 339px) and (min-width: 330px) {
      width: 100vw;
      font-size: 29px;
      margin-left: 0px;
    }

    @media (max-width: 329px) and (min-width: 320px) {
      width: 100vw;
      font-size: 29px;
      margin-left: 0px;
    }

    @media (max-width: 319px) and (min-width: 310px) {
      width: 100vw;
      font-size: 29px;
      margin-left: 0px;
    }

    @media (max-width: 309px) and (min-width: 300px) {
      width: 100vw;
      font-size: 30px;
      margin-left: -15px;
    }
  }
}
.bodyText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 50px;
  margin-left: 25vw;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ffe400;

  @media (max-width: 1601px) and (min-width: 1590px) {
    margin-left: 12vw;
    font-size: 20px;
    width: 80vw;
  }

  @media (max-width: 1451px) and (min-width: 1440px) {
    margin-left: 12vw;
    font-size: 20px;
    width: 80vw;
  }

  @media (max-width: 1375px) and (min-width: 1366px) {
    margin-left: 12vw;
    font-size: 20px;
    width: 80vw;
  }

  @media (max-width: 1289px) and (min-width: 1280px) {
    margin-left: 12vw;
    font-size: 20px;
    width: 80vw;
  }

  @media (max-width: 509px) and (min-width: 500px) {
    margin-left: 9vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 499px) and (min-width: 490px) {
    margin-left: 13vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 489px) and (min-width: 480px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 479px) and (min-width: 470px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 469px) and (min-width: 460px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 459px) and (min-width: 450px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 449px) and (min-width: 440px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 439px) and (min-width: 430px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 429px) and (min-width: 420px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 419px) and (min-width: 410px) {
    margin-left: 15vw;
    font-size: 16px;
    width: 70vw;
  }

  @media (max-width: 409px) and (min-width: 400px) {
    margin-left: 12vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 399px) and (min-width: 390px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 389px) and (min-width: 380px) {
    margin-left: 12vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 379px) and (min-width: 370px) {
    margin-left: 12vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 369px) and (min-width: 360px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 359px) and (min-width: 350px) {
    margin-left: 14vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 349px) and (min-width: 340px) {
    margin-left: 12vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 339px) and (min-width: 330px) {
    margin-left: 11vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 329px) and (min-width: 320px) {
    margin-left: 14vw;
    font-size: 18px;
    width: 80vw;
  }

  @media (max-width: 319px) and (min-width: 310px) {
    margin-left: 16vw;
    font-size: 16px;
    width: 220px;
  }

  @media (max-width: 309px) and (min-width: 300px) {
    margin-left: 8vw;
    font-size: 14px;
    width: 220px;
  }
}

.align {
  margin-left: 75vw;
  border-top: #14a76c 5px solid;
  border-bottom: #14a76c 5px solid;
  border-left: #14a76c 5px solid;
  border-right: #14a76c 5px solid;
  border-radius: 5px 5px 5px 5px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;

  @media (max-width: 750px) and (min-width: 741px) {
    margin-left: 230px;
    margin-top: 35px;
    width: 35vw;
  }

  @media (max-width: 1601px) and (min-width: 1590px) {
    margin-left: 620px;
    margin-top: 35px;
    width: 25vw;
  }

  @media (max-width: 1451px) and (min-width: 1440px) {
    margin-left: 540px;
    margin-top: 35px;
    width: 25vw;
  }

  @media (max-width: 1375px) and (min-width: 1366px) {
    margin-left: 525px;
    margin-top: 35px;
    width: 25vw;
  }

  @media (max-width: 1289px) and (min-width: 1280px) {
    margin-left: 490px;
    margin-top: 35px;
    width: 25vw;
  }

  @media (max-width: 509px) and (min-width: 500px) {
    margin-left: 55px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 499px) and (min-width: 490px) {
    margin-left: 75px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 489px) and (min-width: 480px) {
    margin-left: 60px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 479px) and (min-width: 470px) {
    margin-left: 60px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 469px) and (min-width: 460px) {
    margin-left: 60px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 459px) and (min-width: 450px) {
    margin-left: 60px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 449px) and (min-width: 440px) {
    margin-left: 55px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 439px) and (min-width: 430px) {
    margin-left: 55px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 429px) and (min-width: 420px) {
    margin-left: 52px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 419px) and (min-width: 410px) {
    margin-left: 65px;
    margin-top: 35px;
    width: 70vw;
  }

  @media (max-width: 409px) and (min-width: 400px) {
    margin-left: 55px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 399px) and (min-width: 390px) {
    margin-left: 50px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 389px) and (min-width: 380px) {
    margin-left: 50px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 379px) and (min-width: 370px) {
    margin-left: 45px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 369px) and (min-width: 360px) {
    margin-left: 45px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 359px) and (min-width: 350px) {
    margin-left: 45px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 349px) and (min-width: 340px) {
    margin-left: 43px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 339px) and (min-width: 330px) {
    margin-left: 43px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 329px) and (min-width: 320px) {
    margin-left: 40px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 319px) and (min-width: 310px) {
    margin-left: 40px;
    margin-top: 35px;
    width: 75vw;
  }

  @media (max-width: 309px) and (min-width: 300px) {
    margin-left: 35px;
    margin-top: 35px;
    width: 65vw;
  }
}

img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

.fbbutton {
  width: 360px;
  margin-top: 35px;
  margin-left: 40vw;

  @media (max-width: 1601px) and (min-width: 1590px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 670px;
    width: 17vw;
  }

  @media (max-width: 1451px) and (min-width: 1440px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 585px;
    width: 18vw;
  }

  @media (max-width: 1375px) and (min-width: 1366px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 565px;
    width: 19vw;
  }

  @media (max-width: 1289px) and (min-width: 1280px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 520px;
    width: 20vw;
  }

  @media (max-width: 750px) and (min-width: 741px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 245px;
    width: 30vw;
  }

  @media (max-width: 509px) and (min-width: 500px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 140px;
    width: 44vw;
  }

  @media (max-width: 499px) and (min-width: 490px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 140px;
    width: 44vw;
  }

  @media (max-width: 489px) and (min-width: 480px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 130px;
    width: 45vw;
  }

  @media (max-width: 479px) and (min-width: 470px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 128px;
    width: 46vw;
  }

  @media (max-width: 469px) and (min-width: 460px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 128px;
    width: 46vw;
  }

  @media (max-width: 459px) and (min-width: 450px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 115px;
    width: 50vw;
  }

  @media (max-width: 449px) and (min-width: 440px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 110px;
    width: 50vw;
  }

  @media (max-width: 439px) and (min-width: 430px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 105px;
    width: 50vw;
  }

  @media (max-width: 429px) and (min-width: 420px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 100px;
    width: 50vw;
  }

  @media (max-width: 419px) and (min-width: 410px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 105px;
    width: 50vw;
  }

  @media (max-width: 409px) and (min-width: 400px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 100px;
    width: 52vw;
  }

  @media (max-width: 399px) and (min-width: 390px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 85px;
    width: 54vw;
  }

  @media (max-width: 389px) and (min-width: 380px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 75px;
    width: 62vw;
  }

  @media (max-width: 379px) and (min-width: 370px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 70px;
    width: 62vw;
  }

  @media (max-width: 369px) and (min-width: 360px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 70px;
    width: 62vw;
  }

  @media (max-width: 359px) and (min-width: 350px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 65px;
    width: 62vw;
  }

  @media (max-width: 349px) and (min-width: 340px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 65px;
    width: 62vw;
  }

  @media (max-width: 339px) and (min-width: 330px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 50px;
    width: 70vw;
  }

  @media (max-width: 329px) and (min-width: 320px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 50px;
    width: 70vw;
  }

  @media (max-width: 319px) and (min-width: 310px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 50px;
    width: 70vw;
  }

  @media (max-width: 309px) and (min-width: 300px) {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: 0;
    margin-left: 25px;
    width: 70vw;
  }
}

.g-signin2 {
  margin-top: 15px;
  width: 375px;
  margin-left: 42vw;

  @media (max-width: 1601px) and (min-width: 1590px) {
    margin-left: 700px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 20vw;
  }

  @media (max-width: 1451px) and (min-width: 1440px) {
    margin-left: 615px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 20vw;
  }

  @media (max-width: 1375px) and (min-width: 1366px) {
    margin-left: 595px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 20vw;
  }

  @media (max-width: 1289px) and (min-width: 1280px) {
    margin-left: 545px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 20vw;
  }

  @media (max-width: 750px) and (min-width: 741px) {
    margin-left: 260px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 509px) and (min-width: 500px) {
    margin-left: 147px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 499px) and (min-width: 490px) {
    margin-left: 147px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 489px) and (min-width: 480px) {
    margin-left: 140px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 479px) and (min-width: 470px) {
    margin-left: 135px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 469px) and (min-width: 460px) {
    margin-left: 135px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 459px) and (min-width: 450px) {
    margin-left: 125px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 449px) and (min-width: 440px) {
    margin-left: 118px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 439px) and (min-width: 430px) {
    margin-left: 113px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 429px) and (min-width: 420px) {
    margin-left: 105px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 419px) and (min-width: 410px) {
    margin-left: 110px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 409px) and (min-width: 400px) {
    margin-left: 105px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 399px) and (min-width: 390px) {
    margin-left: 90px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 389px) and (min-width: 380px) {
    margin-left: 90px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 379px) and (min-width: 370px) {
    margin-left: 85px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 369px) and (min-width: 360px) {
    margin-left: 80px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 359px) and (min-width: 350px) {
    margin-left: 73px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 349px) and (min-width: 340px) {
    margin-left: 70px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 339px) and (min-width: 330px) {
    margin-left: 65px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 329px) and (min-width: 320px) {
    margin-left: 60px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 319px) and (min-width: 310px) {
    margin-left: 60px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  @media (max-width: 309px) and (min-width: 300px) {
    margin-left: 30px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 70vw;
  }

  .svg {
    margin-bottom: -230px;
    margin-left: -5px;
    background-color: #4285f4;

    @media (max-width: 480px) and (min-width: 400px) {
      margin-bottom: -200px;
      margin-left: 180px;
    }
  }
}
